.box__balance{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgb(163, 161, 161);
    transition: all .5s ease;
    margin: 10px 0px;
    position: relative;
}

.box__balance:hover{
    box-shadow: 0 4px 10px rgb(163, 161, 161);
}

.box__balance .box__icon{
    width: 22%;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    border-radius: 50%;
}

.box__balance .box__avatar img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.box__balance .box__data{
    padding: 0px 0px 0px 15px;
}

.box__balance .box__data h4{
    margin: 0;
    font-weight: bold;
}

.box__balance .box__data span{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.box__balance .box__detalle{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.box__balance .box__detalle.warning{
    color: #f7cc20;
}

.box__balance .box__detalle.success{
    color: teal;
}
