@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none!important;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}

table .buttonsDesktop{
    display: block;
}


.menu-lateral{
    position: fixed;
    top: 0;
    width: 13%;
    height: 100vh;
    background-color: teal;
    box-shadow: 0px 10px 0px 0px rgb(0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
    overflow-y:auto;
}

.menu-lateral a{
    color: white;
    transition: all .2s ease;
}

.menu-lateral a:hover{
    text-decoration: none;
    font-weight: bold;
}

body{
    background-color: #e1dfdf;
    overflow-x: hidden;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


@media(max-width:768px){
    .menu-lateral{
        width: 40%;
        left: -100%;
        transition: all .5s ease;
    }

    .menu-lateral.show{
        left: 0;
    }
}

@media(min-width:768px){
    .menu-lateral{
        padding-top: 200px;
    }
}   

@media (min-width:1400px) {
    .menu-lateral{
        padding-top: 0px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }